@import url('http://fonts.cdnfonts.com/css/cocogoose');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'COCOGOOSE', sans-serif;
}

.header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(22,24,38,1) 32%;
  border-bottom: 1px solid rgba(22,24,38,1);
}

.logo {
  background: url("images/logo-vocatus-mobile.png") no-repeat;
  height: 123px;
  width: 100vw;
  margin-top: -50px;
  margin-left: 10px;
}

.logo:hover {
  cursor: pointer;
}

.login-button {
  height: 35px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: rgb(192, 57, 43);
  background: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-right: 15px;
  margin-top: -5px;
}

.login-button a {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.login-button:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.div-menu-header {  
  display: none;
} 

@media (min-width: 64em) {
  .logo {
    background: url("images/logo-vocatus.png") no-repeat;
    height: 150px;
    width: 40vw;
    margin-top: -105px;
    margin-left: 10px;
  }

  .div-menu-header {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px 0 0 20px;

  } 
  
  .menu-header {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  .menu-header:hover{
    color: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  }
  
  .menu-header li a{
    font-weight: 400;
    font-size: 25px;
    color: #fff;
    margin-left: 50px;
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .menu-header li a:hover{
    background-clip: text;
    -webkit-background-clip: text;  
    background-image: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
    color: transparent;
    transition: 0.5s ease-in-out;
  }
  
  .menu-header li a::after{
    content: " ";
    width: 20px;
    height: 4px;
    background: rgb(192, 57, 43);
    background: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 1px;
    transition: 0.5s ease-in-out;
  }
  
  .menu-header li a:hover::after{
    width: 50px;
  }

  .div-login-button {
    width: 20vw;
  }
  
  .login-button {
    height: 55px;
    width: 180px;
    margin: 30px 0 0 0;
  }
  
  .login-button a {
    font-weight: 600;
    font-size: 25px;
  }
  
}

