@import url('http://fonts.cdnfonts.com/css/cocogoose');

body {
  font-family: 'COCOGOOSE', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(8, 4, 22);
  background: linear-gradient(148deg, rgba(8, 4, 22, 1) 25%, rgba(12, 5, 34, 1) 50%, rgba(62, 43, 119, 1) 100%);
}

.header {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.logo {
  background: url("images/logo-vocatus.png") no-repeat;
  height: 150px;
  width: 22vw;
  margin-top: -80px;
  margin-left: 10px;
}

.logo:hover {
  cursor: pointer;
}

.div-menu-header {
  width: 58vw;
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: center;
} 

.menu-header {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.menu-header:hover{
  color: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
}

.menu-header li a{
  font-weight: 400;
  font-size: 25px;
  color: #fff;
  margin-left: 50px;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
}

.menu-header li a:hover{
  background-clip: text;
  -webkit-background-clip: text;  
  background-image: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  color: transparent;
  transition: 0.5s ease-in-out;
}

.menu-header li a::after{
  content: " ";
  width: 20px;
  height: 4px;
  background: rgb(192, 57, 43);
  background: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 1px;
  transition: 0.5s ease-in-out;
}

.menu-header li a:hover::after{
  width: 50px;
}

.div-login-button {
  width: 20vw;
  display: flex;
  align-items: center;
}

.login-button {
  height: 55px;
  width: 180px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: rgb(192, 57, 43);
  background: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);    
}

.login-button a {
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
}

.login-button:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.people-home {
  background: url("images/people-home.png") no-repeat;
  height: 500px;
  width: 600px;
  margin-left: -20px;
}

.div-people-home {
  margin-left: -20px;
  height: 100vh;
}

.borda-teste {
  width: 100px;
  height: 100px;
  border: 5px solid transparent;
  border-image: linear-gradient(to right, #33001b, #ff0084);
  border-image-slice: 1;
  border-radius: 20px;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.div-texts-home {
  width: 50%;
  height: 100%;
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-1-home {
  color: #fff;
  font-weight: 400;
  font-size: 60px;
}

.text-2-home {
  background-clip: text;
  -webkit-background-clip: text;  
  background-image: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  color: transparent;
  font-weight: 400;
  font-size: 60px;
}

.text-3-home {
  font-weight: 400;
  font-size: 25px;
  color: #fff;
  width: 80%;
}

.div-register-button {
  margin: 40px 0;
}

.register-button {
  height: 55px;
  width: 200px;      
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px rgba(12, 5, 34, 1) inset;
  border-radius: 10px;
}

.register-button a{  
  font-weight: 400;
  font-size: 25px;
  position: relative;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.register-button:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.container-login {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin-top: 15px;
}

.login {
  width: 450px;
  height: 470px;
  padding: 0;
  background-color: rgba(255,255,255,0.1);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius: 10px;
  border: none;
}

.login form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login input{
  height: 40px;
  width: 80%;
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #fff;
  padding-left: 40px;
  border: none;
  background-repeat: no-repeat;
  background-position: 10px;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 20px;
}

input.email{
  background-image: url(images/icone-usuario.png);

}

input.password{
  background-image: url(images/icone-cadeado.png);

}

.login h3 {
  /* background-clip: text;
  -webkit-background-clip: text;  
  background-image: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  color: transparent; */
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.login .div-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.login .submit {
  height: 55px;
  width: 220px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: rgb(192, 57, 43);
  background: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 20px;
  /* margin-left: 40px; */
}

.login .submit:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login a {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.container-register, .container-new-discipline, .container-create-class {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin-top: 5px;
}

.register, .new-discipline, .create-class {
  width: 450px;
  height: 500px;
  padding: 0;
  background-color: rgba(255,255,255,0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius:10px;
  border-radius: 10px;
  border: none;
}

.register form, .new-discipline form, .create-class form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input.name{
  background-image: url(images/icone-usuario.png);  
}

.register h3, .new-discipline h3, .create-class h3{
  /* background-clip: text;
  -webkit-background-clip: text;  
  background-image: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  color: transparent; */
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.register input, .new-discipline input, .create-class input{
  height: 40px;
  width: 80%;
  font-size: 18px;
  margin-bottom: 10px;
  background-color: #fff;
  padding-left: 40px;
  border: none;
  background-repeat: no-repeat;
  background-position: 10px;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 20px;
}

.register .div-submit, .new-discipline .div-submit , .create-class .div-submit{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.register .submit, .new-discipline .submit, .create-class .submit{
  height: 55px;
  width: 220px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: rgb(192, 57, 43);
  background: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 20px;  
  /* margin-left: 40px; */
}

.register .submit:hover, .new-discipline .submit:hover, .create-class .submit:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.register a , .new-discipline a, .create-class a{
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

/* .principal {
  overflow-y: scroll;
  overflow-x: hidden;
} */

.header-principal {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-principal {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-principal h3 {
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  margin-left: 50px;
}

.div-login-button {
  margin-right: -120px;
  margin-top: 80px;
}

.profile {
  background: url("images/icone-de-perfil.png") no-repeat;
  height: 150px;
  width: 10vw;
  cursor: pointer;
}

.container-disciplines {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.disciplines {
  width: 320px;
  height: 250px;
  background-color: rgba(255,255,255,0.05);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.disciplines h4{
  font-weight: 400;
  font-size: 20px;
}

.disciplines p{
  font-size: 16px;
}

.access-disciplines-button {
  width: 120px;
  height: 40px;
  background-color: rgba(255,255,255,0.08);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.access-disciplines-button:hover {
  background-color: rgba(255,255,255,0.2);
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.access-disciplines-button a{
  text-decoration: none;
  color: #f2f2f2;
  font-size: 14px;
}

.confirm-presence a{
  text-decoration: none;
  color: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  height: 130px;
  background-color: rgba(255,255,255,0.05);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  margin-top: -100px;
  color: #f2f2f2;
  cursor: pointer;
}

.confirm-presence a:hover{
  background-color: rgba(255,255,255,0.2);
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.confirm-presence a p{
  font-size: 25px;
}

.container-presence {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-presence h3 {
  font-weight: 400;
  font-size: 30px;
  color: #f2f2f2;
}

.container-presence input {
  height: 55px;
  width: 280px;
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  border: none;
  background-repeat: no-repeat;
  background-position: 10px;
  border-radius: 5px;
  margin-top: 15px;
  margin-left: 20px;
}

.container-presence .ok-confirme-presence {
  height: 50px;
  width: 150px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 400;
  font-size: 20px;
  background: rgb(192, 57, 43);
  background: linear-gradient(118deg, rgba(192, 57, 43, 1) 0%, rgba(168, 62, 106, 1) 32%, rgba(142, 68, 173, 1) 100%);
}

.container-presence .ok-confirme-presence:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container-discipline {
  height: 100vh;
}

.container-generate-code {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.confirm-generate-code {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  height: 130px;
  background-color: rgba(255,255,255,0.05);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  margin-top: -130px;
  color: #f2f2f2;
  cursor: pointer;
  font-weight: 400;
  font-size: 25px;
}

.confirm-generate-code:hover{
  background-color: rgba(255,255,255,0.2);
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.generated-code {  
  height: 100px;
  width: 400px;
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}



